# -----------------------------------------------------
# General Configuration
# -----------------------------------------------------
aws_region   = "ap-northeast-2"
project_name = "refit"

# -----------------------------------------------------
# ECR Configuration
# -----------------------------------------------------
# 서비스 목록 (필요에 따라 추가/제거)
ecr_services = ["ai", "frontend", "backend"]

# ECR에 보관할 이미지 개수 (오래된 이미지는 자동 삭제)
ecr_image_retention_count = 30
